* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#sixteen-by-sixteen-container {
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    height: 326px;
    width: 326px;
}

#divs {
    height: 20px;
    width: 20px;
    border: 1px solid black;

}